{% extends "base.html" %}
{% block title %}Data Anylyzing{% endblock %}

{% block content %}
<div class="content">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-globe text-warning"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">SERIAL NUM : 756</p>
                <p class="card-title" , font-size=5px>Test Dchg
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr>
          <div class="stats">
            <i class="fa fa-refresh"></i>
            Start Time : 14:32:52
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-vector text-danger"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Anomaly Detection</p>
                <p class="card-title">Start Time
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-clock-o"></i>
            Start Time: <span id="anomaly-times"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <h5 class="card-title">Detecting Anomaly</h5>
          <p class="card-category">Line Chart with Points</p>
        </div>
        <div class="card-body">
          <canvas id="anomalyChart" height="90"></canvas>
        </div>
        <div class="card-footer">
          <div class="chart-legend">
          </div>
          <hr />
          <div class="card-stats">
            <i class="fa fa-check"></i> Data information certified
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <h5 class="card-title">Voltage Plot</h5>
          <p class="card-category">Line Chart with Points</p>
        </div>
        <div class="card-body">
          <canvas id="volChart"></canvas>
        </div>
        <div class="card-footer">
          <div class="chart-legend">
          </div>
          <hr />
          <div class="card-stats">
            <i class="fa fa-check"></i> Data information certified
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <h5 class="card-title">Temperature Plot</h5>
          <p class="card-category">Line Chart with Points</p>
        </div>
        <div class="card-body">
          <canvas id="temChart"></canvas>
        </div>
        <div class="card-footer">
          <div class="chart-legend">
          </div>
          <hr />
          <div class="card-stats">
            <i class="fa fa-check"></i> Data information certified
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.socket.io/socket.io-3.0.3.min.js"></script>

<script>
  // 이상치 탐지 차트 객체를 초기화하는 함수
  function initializeChart(chartId) {
    var ctx = document.getElementById(chartId).getContext('2d');
    return new Chart(ctx, {
      type: 'line',
      data: {
        labels: [],
        datasets: [{ /* 데이터셋 설정 */ }],
        anomaly_gt: [], // 실제 이상구간 초기화 추가
        anomaly_pred: [] // 예측 이상구간 초기화 추가
      },
      options: {
        legend: {
          display: true // 범주 표시 여부 설정
        },
        tooltips: { // 온도와 전압 그래프 레이블 및 측정 값 확인용 tooltip 설정
          callbacks: {
            label: function (tooltipItem, data) {
              var label = data.datasets[tooltipItem.datasetIndex].label || '';
              if (label) {
                label += ': ';
              }
              label += Math.round(tooltipItem.yLabel * 100) / 100;
              return label;
            }
          }
        },
        annotation: { // 주석 설정 추가
          annotations: [] // 초기에는 빈 배열로 설정
        }
        // 기타 옵션 설정
      }
    });
  }

  // 온도, 전압 차트 객체를 초기화하는 함수
  function initializeChartWithoutLegend(chartId) {
    var ctx = document.getElementById(chartId).getContext('2d');
    return new Chart(ctx, {
      type: 'line',
      data: {
        labels: [], // X축 레이블
        datasets: [{
          label: 'My Dataset', // 데이터셋 라벨
          data: [], // 데이터셋 값
          // 기타 데이터셋 스타일링 설정
        }]
      },
      options: {
        plugins: {
          legend: {
            display: false
          },
        },
        tooltips: {
          callbacks: {
            label: function (tooltipItem, data) {
              var label = data.datasets[tooltipItem.datasetIndex].label || '';
              if (label) {
                label += ': ';
              }
              label += Math.round(tooltipItem.yLabel * 100) / 100;
              return label;
            }
          }
        }
        // 기타 차트 옵션 설정
      }
    });
  }

  // 첫 번째 차트는 범주를 표시
  var anomalyChart = initializeChart('anomalyChart');

  // 온도와 전압 차트는 범주를 숨김처리
  var volChart = initializeChartWithoutLegend('volChart');
  var temChart = initializeChartWithoutLegend('temChart');


  // Socket.IO 로직
  var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');

  // 데이터 업데이트 이벤트 처리
  //1) 이상치 탐지 차트
  socket.on('update_anomaly_data', function (data) {
    // 차트 데이터 업데이트 - PCA1, PCA2, Z_score 값에 대한 색 설정
    anomalyChart.data.labels = data.time;
    anomalyChart.data.datasets = data.datasets.map(dataset => {
      let color;
      if (dataset.label === 'PCA1') {
        color = '#A9A9A9';
      } else if (dataset.label === 'PCA2') {
        color = '#D3D3D3';
      } else if (dataset.label === 'Z_score') {
        color = '#FF8C00';
      }
      return {
        label: dataset.label,
        data: dataset.data,
        borderColor: color,
        backgroundColor: color,
        fill: false
      };
    });

    // 주석(Annotations) 동적 생성
    let annotations = [];

    // 현재 차트의 시간 범위를 확인
    let chartStartTime = Math.min(anomalyChart.data.time);
    let chartEndTime = Math.max(anomalyChart.data.time);

    // 이상 구간이 현재 차트 시간 범위 내에 있는지 확인
    const addAnnotations = (anomalyData, backgroundColor) => {
      anomalyData.forEach(anomaly => {
        if (anomaly.start <= chartEndTime && anomaly.end >= chartStartTime) {
          // 이상 구간이 현재 차트 범위와 겹칠 경우에만 주석 추가
          annotations.push({
            type: 'box',
            xMin: Math.max(anomaly.start, chartStartTime),
            xMax: Math.min(anomaly.end, chartEndTime),
            backgroundColor: backgroundColor
          });
        }
      });
    };

    if (data.anomaly_gt) {
      addAnnotations(data.anomaly_gt, 'rgba(255, 0, 0, 0.3)'); // 실제 이상 구간 주석 추가
    }

    if (data.anomaly_pred) {
      addAnnotations(data.anomaly_pred, 'rgba(0, 0, 255, 0.3)'); // 예측된 이상 구간 주석 추가
    }

    // 주석을 차트 옵션에 추가
    if (annotations.length > 0) {
      anomalyChart.options.annotation = {
        annotations: annotations
      };
    }

    // 차트 업데이트
    anomalyChart.update();
    // 이상 구간 확인 및 알람 표시
    if (data.anomaly_pred && data.anomaly_pred.length > 0) {
      displayAlert2("Anomaly Detected!");
    }

    // anomaly_pred_data의 시작 시간을 웹 페이지에 표시
    var anomalyTimesElement = document.getElementById('anomaly-times');
    data.anomaly_pred.forEach(function (anomaly) {
      console.log(anomaly); // 콘솔에 anomaly 객체 출력

      // 여기서 'start_time' 대신 실제 속성명을 사용해야 합니다.
      // 예를 들어, 'start' 또는 'startTime' 등
      var startTime = anomaly.start; // or anomaly.start, anomaly.startTime 등

      if (startTime && !anomalyTimesElement.innerHTML.includes(startTime)) {
        anomalyTimesElement.innerHTML += startTime + ', ';
      }
    });
  });

  // 전압 데이터 차트
  socket.on('update_vol_data', function (data) {
    volChart.data.labels = data.time;
    volChart.data.datasets = data.datasets.map(dataset => ({
      label: dataset.label,
      data: dataset.data,
    }));
    volChart.update();
  });

  // 온도 데이터 차트
  socket.on('update_tem_data', function (data) {
    temChart.data.labels = data.time;
    temChart.data.datasets = data.datasets.map(dataset => ({
      label: dataset.label,
      data: dataset.data,
    }));
    temChart.update();
  });

  // 이상 구간이 예측되었을떄 작동할 알람 레이아웃 정의
  function displayAlert(message) {
    // 알림창 엘리먼트 생성
    var alertBox = document.createElement('div');
    alertBox.className = 'alert-box';
    alertBox.textContent = message;

    // 알림창 스타일 설정
    alertBox.style.position = 'fixed';
    alertBox.style.top = '50%';
    alertBox.style.left = '50%';
    alertBox.style.transform = 'translate(-50%, -50%)';
    alertBox.style.backgroundColor = 'white';
    alertBox.style.border = '1px solid black';
    alertBox.style.padding = '20px';
    alertBox.style.boxShadow = '0 4px 8px rgba(0, 0, 0, 0.1)';
    alertBox.style.zIndex = '1000';

    // 알림창을 일정 시간 후에 자동으로 닫기
    setTimeout(function () {
      if (alertBox.parentNode) {
        alertBox.parentNode.removeChild(alertBox);
      }
    }, 5000); // 3초 후에 알림창 닫기

    // 알림창을 body에 추가
    document.body.appendChild(alertBox);
  }

  // 알람 -> 이상구간 탐지용
  function displayAlert2(message) {
    // 알림창 엘리먼트 생성
    var alertBox = document.createElement('div');
    alertBox.className = 'alert-box';
    alertBox.textContent = message;

    // 알림창 스타일 설정
    alertBox.style.position = 'fixed';
    alertBox.style.top = '50%';
    alertBox.style.left = '50%';
    alertBox.style.transform = 'translate(-50%, -50%)';
    alertBox.style.borderRadius = '10px'; // 테두리를 둥글게 만듦

    // 색상을 반투명한 주황색으로 조정
    alertBox.style.backgroundColor = 'rgba(255, 165, 0, 0.1)'; // 주황색

    // 크기를 약간 줄임
    alertBox.style.width = '350px'; // 너비 조정
    alertBox.style.height = '150px'; // 높이 조정

    // 폰트와 텍스트 정렬 조정
    alertBox.style.fontFamily = '"Verdana", sans-serif'; // 폰트 스타일
    alertBox.style.fontSize = '20px'; // 글자 크기 조정
    alertBox.style.textAlign = 'center'; // 텍스트 가운데 정렬
    alertBox.style.display = 'flex'; // Flexbox 사용
    alertBox.style.justifyContent = 'center'; // 가로 축에서 가운데 정렬
    alertBox.style.alignItems = 'center'; // 세로 축에서 가운데 정렬

    // 나머지 스타일 유지
    alertBox.style.border = '1px solid black';
    alertBox.style.padding = '20px';
    alertBox.style.boxShadow = '0 4px 8px rgba(0, 0, 0, 0.1)';
    alertBox.style.zIndex = '1000';

    // 알림창을 body에 추가
    document.body.appendChild(alertBox);
  }

  document.getElementById('start-analysis-btn').addEventListener('click', function () {
    startAnalysis();
  });

  // 분석을 시작할 버튼이 작동하는 함수 구현
  function startAnalysis() {
    fetch('/start_analysis', { method: 'POST' })
      .then(response => {
        if (response.ok) {
          console.log("분석 시작됨");
          displayAlert("분석이 시작되었습니다.");
        }
      })
      .catch(error => {
        console.error('Error:', error);
        displayAlert("분석 시작 중 오류가 발생했습니다.");
      });
  }

</script>



{% endblock %}