<!DOCTYPE html>
<html>

<head>
    <!-- 필요한 CSS 및 JavaScript 추가 -->
</head>

<body>
    <!-- 이미지를 표시할 요소 -->
    <div id="initial_visualization">
        <img id="volImage" src="" alt="Voltage Data">
        <img id="temImage" src="" alt="Temperature Data">
    </div>
    
    <!-- <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"
        integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz"
        crossorigin="anonymous"></script> -->
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>


    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');

        // 서버에서 전송된 초기 시각화 이미지 경로를 수신하는 이벤트 리스너
        socket.on('initial_visualization', function (data) {
            if (data.volImage) {
                // 'static/' 접두사 제거 없이 경로 설정
                document.getElementById('volImage').src = data.volImage;
            }
            if (data.temImage) {
                // 'static/' 접두사 제거 없이 경로 설정
                document.getElementById('temImage').src = data.temImage;
            }
        });
    </script>
</body>

</html>